 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand logo" href="#">
      <img src="../images/Logo.png" alt="Logo Jobtable">
  </a>
  <div class="collapse navbar-collapse d-flex flex-row-reverse mr-5">
      <ul class="navbar-nav">
          <li class="nav-item mr-3">
              <a href="/company/post" class="d-flex flex-column align-items-center text-muted">
                  <i class="fas fa-briefcase fa-2x"></i>
                  Công việc
              </a>
          </li>
          <li class="nav-item dropdown mr-3">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user-circle fa-2x"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a href="/company/profile" class="dropdown-item">Hồ sơ</a>
                  <a href="/auth/logout" class="dropdown-item">Đăng xuất</a>
              </div>
          </li>
      </ul>
  </div>
</nav>