<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" href="/jobseeker/jobseeker.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/navbar-company'); -%>
    <section id="<%=user.id%>" class="job">

    </section>
    <%- include('partials/scripts'); -%>
    <!-- JS -->
    <script src="/dashboard/dashboard.js"></script>
</body>

</html>