<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
    <link rel="stylesheet" href="/jobseeker/jobseeker.css">
    <title>Document</title>
</head>

<body>
    <%- include('partials/navbar'); -%>

    <section id="options">
        <div class="option suggest active-option" data-target="section#suggest-job">
            <i class="far fa-thumbs-up"></i>
            Việc phù hợp
        </div>
        <div class="option pending"  data-target="section#pending-job">
            <i class="fas fa-marker"></i>
            Việc ứng tuyển
        </div>
        <div class="option love-option">
            <i class="fas fa-heart"></i>
            Việc yêu thích
        </div>
    </section>


    <section id="suggest-job">
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
    </section>

    <section id="pending-job">
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
    </section>
    <section id="love-job">
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
        
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div class="top">
                <div class="avatar">
                    <img src="https://via.placeholder.com/100" alt="">
                </div>
                <div class="infor">
                    <a class="job-title" href="">Front End</a>
                    <p class="company">Duy Tan</p>
                </div>
                <div class="love">
                    <div role="button" style="width: 50px;height: 50px;">
                        <i class="far fa-heart text-danger fa-2x"></i>
                    </div>
                    
                </div>
            </div>
            <div class="bot">
                <div class="salary">$4000 - 5000</div>
                <div class="location">
                    <i class="fas fa-map-marker-alt"></i>
                    <span>Da Nang</span>
                </div>
            </div>
        </div>
        
    </section>
    <%- include('partials/scripts'); -%>
    <!-- JS -->
    <script src="/jobseeker/jobseeker.js"></script>
</body>

</html>